<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ordercreator_create" xsi:type="object">Yireo\OrderCreator\Console\Command\CreateCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Yireo\OrderCreator\Console\Command\CreateCommand">
        <arguments>
            <argument name="orderGenerator" xsi:type="object">Yireo\OrderCreator\Generator\Order\Proxy</argument>
        </arguments>
    </type>
</config>